.footer-links-container{
  justify-content: center;
}

.footer-links-container li{
  display: inline-block;
  margin: 1rem;
  color: var(--secondary-color);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.footer-links-container li:hover{
  color: var(--hover-grey-color);
}
